[submodule "ISPCTextureCompressor"]
	path = ISPCTextureCompressor
	url = https://github.com/GameTechDev/ISPCTextureCompressor.git

[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
